@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville: 300,300italic,400,400italic,700,700italic, 900, 900italic|Montserrat: 100,200,300,400,500,600,700,800,900|Quicksand: 100,200,300,400,500,600,700,800,900|Raleway: 100,200,300,400,500,600,700,800,900|Roboto: 300,400,700,900');

* {
        font-family: "Roboto", sans-serif !important;
}

a {
        text-decoration: none;
}

body {
        background: #FFF;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
}

nav {
        background: #FFF !important;
        box-shadow: 0px 1px 2px rgba(0,0,0,.5) !important;
        height: 60px !important;
        line-height: 60px !important;
        padding: 0px 15px 5px 15px !important;
        position: fixed;
        top: 0px !important;
        right: 0px !important;
        left: 0px;
        z-index: 999 !important;
}

nav #logo {
        background: no-repeat center url("https://i.imgur.com/0d1jt0d.png") !important;
        background-size: auto 100% !important;
        padding: 6px 43px !important;
        position: relative;
        top: 1.5px !important;
        transition: all .3s ease-in-out !important;
}

nav #logo:hover {
        opacity: .6;       
        transition: all .3s ease-in-out !important;
}

nav ul {
        display: inline;    
        position: relative !important;
        top: 1.5px !important;
}

nav ul .link_blog {
        color: #000 !important; 
        font-family: "Montserrat" !important;
        font-size: 12pt !important;
        font-weight: bold;
        text-decoration: none !important;
        text-transform: uppercase;
        letter-spacing: 2px !important;
        margin-right: 20px !important;
        transition: all .3s ease-in-out;
}

nav ul .link_blog:nth-child(1):hover {
        color: #ffa801 !important;
        transition: all .3s ease-in-out;
}

nav ul .link_blog:nth-child(2):hover {
        color: #e84393 !important;
        transition: all .3s ease-in-out !important;
}

nav #intro {
        color: #000 !important;
        font-family: "Montserrat" !important;
        font-size: 12pt !important;
        font-weight: bold !important;
        letter-spacing: 2px !important;
        text-decoration: none !important;
        text-transform: uppercase !important;
        transition: all .3s ease-in-out;
        margin-top: 2px !important;
        float: right !important;
}

nav #intro:hover {
        color: #2e86de !important;
        transition: all .3s ease-in-out !important;
}

#banner {
        background: no-repeat center top url("https://i.imgur.com/CsQjK1u.jpg") !important;
        background-size: cover !important;
        height: 250px !important;
        width: 100%;
        text-align: center !important;;
        display: inline-block;
        margin-top: 65px !important;
}

#banner #overlay {
        background: rgba(0,0,0,.5) !important;
        height: 100% !important;
}

#banner p {
        color: #FFF !important;
        display: inline-block !important;
        font-family: "Montserrat" !important;
        font-size: 30pt !important;
        font-weight: 1000 !important;
        letter-spacing: 5px !important;
        line-height: 250px !important;
        position: relative;
        margin: 0;
        max-width: 100% !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
}

#content {
        margin-top: 30px !important;
}

#content #preambule {
        padding: 0px 100px 20px 100px !important;
        text-align: center !important;
}

#content #preambule p {
        color: #000 !important;
        font-family: "Quicksand" !important;
        font-size: 2vw !important;
        font-weight: bold !important;
        line-height: 38px !important;
}

#preambule p strong {
        color: #e84393 !important;
        font-family: "Quicksand" !important;
        font-weight: bold !important;
}

#content h1 {
        font-family: "Montserrat" !important;
        font-size: 20pt !important;
        text-align: center !important;
}

#content ul {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        list-style: none !important;
        margin-left: -35px;
}

#content li[class*="thumbnail"] {
        background-position: center !important;
        background-size: cover !important;
        border-radius: 7px;
        box-shadow: 0px 1px 2px rgba(0,0,0,.2) !important;
        height: 250px !important;
        min-width: 250px !important;
        width: 30% !important;
        text-align: center !important;
        margin: 10px !important;
        margin: 0 auto 120px auto !important;
}

#content li[class*="thumbnail"] #description {
        background: rgba(0,0,0,.4);
        border-radius: 7px;
        color: #FFF !important;
        font-family: "Raleway" !important;
        font-size: 17pt !important;
        font-weight: bold !important;
        height: 230px !important;
        line-height: 32px !important;
        padding: 10px !important;
        width: inherit;
        text-shadow: 0px 1px 2px #000 !important;
        display: table-cell !important;
        vertical-align: middle !important;
        opacity: 0;
        transition: all .3s ease-in-out;
}

#content li[class*="thumbnail"] #description:hover {
        opacity: 1;
        transition: all .3s ease-in-out;
}

#content li[class*="thumbnail"] #title {
        text-align: left !important;
        margin-top: 5px !important;
}

#content li[class*="thumbnail"] #title > span {
        color: #000 !important;
        font-family: "Montserrat" !important;
        font-size: 13pt !important;
        font-weight: bold !important;
        text-decoration: none !important;
        max-width: 100% !important;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        display: block;
}

#content li[class*="thumbnail"] #title > span:hover {
        overflow: visible;
        white-space: normal !important;
}

#content li[class*="thumbnail"] #title .tags {
        border-radius: 3px !important;
        color: #FFF !important;
        font-style: italic;
        letter-spacing: .5px !important;
        margin-top: 7px !important;
        display: list-item !important;
}

#content li[class*="thumbnail"] #title .tags span {
        background: #f78fb3;
        border-radius: 3px !important;
        font-family: "Raleway" !important;
        font-weight: 600 !important;
        padding: 4px 7px 7px 7px;
}

#content li[class*="thumbnail"] #title .tags span:nth-of-type(2) {
        background: #63cdda !important;
}

#content .row {
        background: no-repeat center 40% url("https://i.imgur.com/HtO73Fk.jpg") !important;
        background-size: cover !important;
        height: 350px !important;
        margin-top: 30px !important;
}

#content a:nth-of-type(2) .row {
        background: no-repeat center url("https://i.imgur.com/udnSPK3.jpg") !important;
        background-size: cover !important;
        margin-top: 20px !important;
        margin-bottom: 40px !important;
}

#content .row:hover #details {
        background: rgba(0,0,0,.9) !important;
        transition: all .3s ease-in-out !important;
}

#content .row #details {
        background: rgba(0,0,0,.6);
        height: inherit !important;
        padding: 0px 50px !important;
        text-align: center !important;
        display: table-cell !important;
        vertical-align: middle !important;
        transition: all .3s ease-in-out !important;
}

#content .row #details .title {
        color: #FFF !important;
        font-family: "Montserrat" !important;
        font-size: 40pt !important;
        font-weight: bold !important;
}

.row #details .description {
        color: #E7E7E7 !important;
        font-family: "Raleway" !important;
        font-style: italic !important;
        font-weight: 500;
}

#subnav {
        border-bottom: 1px solid #EBEBEB !important;
        padding: 0px 0px 20px 20px !important;
        margin-bottom: 20px !important;
}

#subnav button {
        background: #F7F7F7 !important;
        border: transparent;
        border-radius: 4px !important;
        font-family: "Montserrat" !important;
        font-size: 12pt !important;
        font-weight: 500;
        padding: 5px 10px 7px 10px !important;
        text-transform: lowercase;
        margin-right: 10px !important;
}

#subnav button:hover, 
#subnav button:active {
        background: #E7E7E7 !important;
}

#content #container {
        height: 300px !important;
        width: 100%;
        margin-top: 30px !important;
        margin-bottom: 100px !important;
}

#content #container #photo {
        width: 25% !important;
        text-align: center !important;
}

#content #container #photo #photo_container {
        background: no-repeat center url("https://i.imgur.com/HcxwqdU.jpg") !important;
        background-size: cover !important;
        border-radius: 50% !important;
        box-shadow: 0px 1px 2px rgba(0,0,0,.3) !important;
        height: 20vw !important;
        width: 20vw;
        display: inline-block !important;
}

#content #container #bio {
        border-left: 1px dotted #BEBEBE !important;
        padding-right: 50px !important;
        padding-left: 25px !important;
        text-align: justify;
}

#content #container #bio p {
        font-family: "Quicksand" !important;
        font-size: 13pt;
        font-weight: 500 !important;
        line-height: 25px !important;
}

#content #container #bio strong {
        font-family: "Quicksand" !important;
}

#content #post_container {
        padding: 5px 100px !important;
}

#content #post_container p {
        font-family: "Quicksand" !important;
        font-size: 14pt !important;
        font-weight: 500;
        line-height: 25px !important;
        text-align: justify;
}

#content #post_container em {
        font-family: "Quicksand" !important;
        font-size: 12pt !important;
}

#content #post_container img {
        border: 1px solid #D5D5D5 !important;
        width: 100% !important;
}

#mascot {
        background: no-repeat center url("https://i.imgur.com/6SuqRQ5.png");
        background-size: auto 100% !important;
        height: 200px !important;
        width: 200px !important;
        position: fixed !important;
        right: 0px !important;
        bottom: -60px !important;
        opacity: .9 !important;
        z-index: 999 !important;
}

footer {
        background: #F5F5F5;
        padding: 20px !important;
        text-align: center !important;
}

footer a {
        color: #000 !important;
        font-family: "Montserrat" !important;
        font-weight: 500;
        transition: all .3s ease-in-out !important;
}

footer a:hover {
        opacity: .6;
        transition: all .3s ease-in-out !important;
}

footer #mail::before {
        background: no-repeat center url("https://i.imgur.com/HbiGWSC.png") !important;
        background-size: 100% auto !important;
        color: transparent !important;
        content: "" !important;
        padding: 2px 9px !important;
        position: relative;
        top: 1.5px !important;
        margin-right: 6px !important;
}

footer #instagram::before {
        background: no-repeat center url("https://i.imgur.com/GIPeIT0.png") !important;
        background-size: 100% auto !important;
        color: transparent !important;
        content: "" !important;
        padding: 2px 9px !important;
        position: relative !important;
        top: .5px !important;
        margin-right: 6px !important;
}

footer .separator {
        border-right: 1px dotted #7E7E7E !important;
        margin: 0px 18px 0px 15px !important;
}

}
