@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville: 300,300italic,400,400italic,700,700italic, 900, 900italic|Montserrat: 300,400,700,900|Raleway: 300,400,700,900|Roboto: 300,400,700,900');

* {
        font-family: "Roboto", sans-serif !important;
}

body {
        background: #F6F7FB;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
}

a {
	text-decoration: none;	
}

ul li {
    	list-style: none !important;
}

header {
	background: #F6F7FB;
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 999;
}

.container {
	background: #FFF;
	height: auto;
	margin: 40px;
}

nav {
	background: #3E4651;
	padding: 1px 0px 6px 0px;
}

nav ul {
	padding-left: 0px;
	text-align: center;
}

nav ul li {
	margin-right: 5px !important;
	list-style: none;
        text-transform: uppercase;
	display: inline;
}

nav ul li,
nav ul li a {        
	color: #FFF;
        font-family: "Montserrat", sans-serif !important;
        font-size: 10pt;
        font-weight: bold;
        letter-spacing: 1px;
}

nav ul li a:hover {
	opacity: .6;
}

#date {
	color: #FFF;
        font-family: "Montserrat", sans-serif !important;
	font-size: 10pt;
	font-weight: bold;
	letter-spacing: 1px;
	float: right;	
	position: relative;
	top: -33px;
	right: 20px;
}

.banner {
	background: no-repeat url("/css/image/banner1.png") center 11% !important;
	background-size: cover !important;
	width: 100%;
	height: 180px;
}

.subbar {
	
	background: #F6F8F8;
	border-bottom: 1px solid #e0e5e6;
	color: #7c9398;
	font-size: 14px;
	height: 65px;
	width: 100%;
	line-height: 65px;
	text-align: center;
}

.subbar span:not(:last-child) {
    border-right: 1px dotted #d1d9db;
    padding-right: 25px !important;
    margin-right: 15px !important;
}

.subbar span a {
	background: #FFF;
	border: 1px solid #d1d9db !important;
	border-radius: 2px;
	color: #3a585f;
	font-weight: bold;
	padding: 8px 12px !important;
}

#content {
    	padding: 10px 30px 30px 30px !important;
}

.back {
	background: #10ac84 !important;
	border-radius: 2px !important;
	border: none !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3) !important;
	color: #FFF !important;
	font-size: 12pt !important;
	font-weight: bold !important;
	padding: 7px 15px 9px 15px !important;
	margin-top: 15px !important;
}

h1 {
	font-family: "Raleway", sans-serif !important;
	font-weight: 900 !important;
	text-shadow: 3px 3px #EBEBEB !important;
}

#content ul {
	padding: 0px;	
}

#content ul .meta {
	background: #2e86de !important;
	border-radius: 2px !important;
	border: none !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3) !important;
	color: #FFF;
	font-size: 12pt !important;
	font-weight: bold !important;
	padding: 7px 15px 9px 15px !important;
	text-transform: uppercase;
    	display: inline;
}

#content .text {
	border-top: 1px solid #EBEBEB;
	margin-top: 30px !important;
}

footer {
	background: #F6F7FB;
	height: 42px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}
