@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville: 300,300italic,400,400italic,700,700italic, 900, 900italic|Montserrat: 300,400,700,900|Raleway: 300,400,700,900|Roboto: 300,400,700,900|Lobster: 400');

@font-face {
        font-family: 'Quentin';
        url('css/fonts/quentin.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

* {
        font-family: "Roboto", sans-serif !important;
}

body {
        background: #FFF;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
}

nav {
        background: #FFF !important;
        border-top: 5px solid #e84393 !important;
        box-shadow: 0px 1px 2px rgba(0,0,0,.15) !important;
        height: 60px !important;
        line-height: 60px !important;
        padding: 0px 15px 5px 15px !important;
        position: fixed;
        right: 0px !important;
        left: 0px;
        z-index: 999 !important;
}

nav a {
        color: #000;
        font-family: "Quentin" !important;
        font-size: 23pt !important;
        text-decoration: none;
}

nav ul {
        display: inline;     
}

nav ul button {
        background: transparent;
        border: none !important;
        color: #000 !important;
        font-family: "Montserrat" !important;
        font-size: 11pt !important;
        font-weight: bold;
        letter-spacing: 2px !important;
        text-transform: uppercase;
        margin-right: 15px;
        cursor: pointer;
}

#banner {
        background: no-repeat 50% 65% url("https://images.fiftyfootshadows.net/2019/05/img637.jpg") !important;
        background-size: cover;
        height: 250px !important;
        width: 100%;
        text-align: center !important;;
        display: inline-block;
        margin-top: 70px !important;
}

#banner #overlay {
        background: rgba(0,0,0,.6) !important;
        height: 100% !important;
}

#banner #logo {
        background: no-repeat center url("https://i.imgur.com/rkxmwUR.png") !important;
        background-size: cover !important;
        height: 180px !important;
        width: 180px !important;
        filter: invert(1) !important;
        position: absolute;
        top: 105px !important;
        right: 0px !important;
        left: 0px !important;
        margin: 0 auto !important;
        opacity: .9 !important;
}


#banner p {
        color: #C09CFFDE !important;
        display: inline-block !important;
        font-family: "Quentin" !important;
        font-size: 50pt !important;
        font-weight: bold !important;
        line-height: 250px !important;
        position: relative;
        margin: 0;
        max-width: 100% !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
}

#content {
        margin-top: 30px !important;
        margin-left: -35px;
}

#content ul {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        list-style: none !important;
}

#content .thumbnail {
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0,0,0,.5) !important;
        height: 250px !important;
        min-width: 250px !important;
        width: 30% !important;
        text-align: center !important;
        margin: 10px !important;
        margin: 0 auto 40px auto !important;
}

#content .thumbnail #description {
        background: rgba(0,0,0,.5);
        font-family: "Quentin";
        height: 230px !important;
        padding: 10px !important;
        display: table-cell !important;
        vertical-align: middle !important;
        opacity: 0;
        transition: all .3s ease-in-out;
}

#content .thumbnail:hover #description {
        opacity: 1;
        transition: all .3s ease-in-out;
}

}
