---
layout: default
title: Blog de Mr. DANG, professeur de mathématiques
---
<div id="content">
	<h1>Page d'accueil</h1>
	<p>Ce blog est destiné à mes élèves de 6ème et 4ème pour pouvoir travailler durant cette période de confinement (en particulier pour ceux qui ne peuvent pas accéder à Pronote).</a></p>
	
	<p>Sélectionnez le blog qui vous intéresse (6ème, 4ème, Autres) dans <strong>la barre de navigation en haut de la page</strong>.</p>
	<h1 class="section">Derniers articles (6ème)</h1>
	<ul class="posts">
		{% for post in site.categories.6eme limit:3 %}
			<li><span>{{ post.date | date_to_string }}, {{ post.category }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		<li><a href="\blog6">Voir les autres articles</a>
	</ul>

	<h1 class="section">Derniers articles (4ème)</h1>
	<ul class="posts">
		{% for post in site.categories.4eme limit:3 %}
			<li><span>{{ post.date | date_to_string }}, {{ post.category }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		<li><a href="\blog4">Voir les autres articles</a>
	</ul>

	<h1 class="section">Derniers articles (Autres)</h1>
	<ul class="posts">
		{% for post in site.categories.trivia limit:3 %}
			<li><span>{{ post.date | date_to_string }}, {{ post.category }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		<li><a href="\blog">Voir les autres articles</a>
	</ul>
</div>
