<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="content-type" content="text/html; charset=UTF-8">
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/css/image/favicon5.ico">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
			<script type="text/javascript">
      			</script>
		</head>
		<body>
			<nav>
				<a id="logo" href="/"></a>
				<ul>
					<a href="/blogcarnets" class="link_blog">Carnets</a>
					<a href="/blogprojets" class="link_blog">Projets</a>	
				</ul>
			</nav>
			<div id="banner">
				<div id="overlay">
					<p>Bienvenue sur mon portfolio ◪_◪</p>
				</div>
			</div>
			{{ content }}
		</body>
	</html>
