<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header></header>
			<div class="container">
			<nav>
	    		<ul>
				<li><a href="/"><b>Accueil</b></a></li>
				<li><b>×</b></li>
	        		<li><a href="/blog6"><b>6eme</b></a></li>
				<li><b>×</b</li>
				<li><a href="/blog4"><b>4eme</b></a></li>
	    		</ul>
			</nav>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer></footer>
		</body>
	</html>
