<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="content-type" content="text/html; charset=UTF-8">
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/css/image/favicon.ico">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
			<script type="text/javascript">
				function myFunction() {
					var x = document.querySelectorAll('[id=thumbnail_projets]');
					if (x.style.display === "none") {
						x.style.display = "block";
					} else {
						x.style.display = "none";
					}
				} 
      			</script>
		</head>
		<body>
			<nav>
				<a id="logo" href="/"></a>
				<ul>
					<a href="/blogcarnets" class="link_blog">Carnets</a>
					<a href="/blogprojets" class="link_blog">Projets</a>	
				</ul>
				<a id="intro" href="/blog">Qui suis-je ?</a>
			</nav>
			{{ content }}
			<button onclick="myFunction()">Try it</button>
			<footer>
				<a id="mail" href="mailto:sinslay.dang@edu.gobelins.fr">sinslay.dang@edu.gobelins.fr</a>
				<span class="separator"></span>
				<a id="instagram" href="https://instagram.com/dessinslay">dessinslay</a>
			</footer>
		</body>
	</html>
